* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    
    
}


body{
    min-width: 820px;
    min-height: 100%;}

.container-header{
    color:silver;
    background: radial-gradient(circle, rgba(238,204,174,1) 0%, rgba(25,25,24,1) 0%, rgba(134,128,131,1) 67%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 100%;
}


.buscar{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
    background-color: #4a484c;
    color: rgb(246, 240, 240);
    font-size: 16px;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: rgb(10, 1, 1);
    }
   
}

.main-container{
    
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left:40px ;
    padding-right:40px ;
    gap: 70px;
    width: 100%;

}



.left-section{
    width: 1140px;
    display: flex;
    gap: 15px;
   flex-direction:column;
   align-items: center;
    
}
.cards{
    height:650px ;
    overflow: auto;
}

   


.card{
    height: 270px;
    width:200px;
    background: rgb(238,204,174);
    background: radial-gradient(circle, rgba(238,204,174,1) 0%, rgba(25,25,24,1) 0%, rgba(134,128,131,1) 67%);
    border-radius: 5px;
    box-shadow: #060606;
    
    
    
}

.title{
    padding-top: 40px;
    text-align: center;
    color:silver;
    
}

.products-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 40px;
}



.img-container{
    padding: 10px;
    display: flex;
    justify-content: center;
   
}

.img-container img{
    width: 108PX;
    
    
    
    
}

.img-container img:hover{
    transform: scale(2.0);
}

.card-container--info{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.card-container--value{
    color: white;
}

.inferior{
    display: flex;
    justify-content: space-around;
   
}


.rigth-title{
    text-align: center;
    padding-top: 40px;
    text-transform: uppercase;
    color: silver;
}

.form-container{
    box-shadow: 5px 13px 57px -8px rgba(164, 152, 152, 0.87);
    -webkit-box-shadow: 5px 13px 57px -8px rgba(44, 41, 41, 0.87);
    -moz-box-shadow: 5px 13px 57px -8px rgba(244, 233, 233, 0.87);
height: 517px;
display: flex;
flex-direction: column;
padding: 20px;
gap: 70px;
width: 400px;
margin-top: 54px;
background: radial-gradient(circle, rgba(238,204,174,1) 0%, rgba(25,25,24,1) 0%, rgba(134,128,131,1) 67%);
border-radius: 15px;


}

input{
    color: rgb(20, 20, 23);
    border-color: rgb(12, 12, 12);
    border-radius: 10px;
    height: 40px;
    
}

.button-container{
    display: flex;
    justify-content:space-around;
    height: 30px;
    
    
    

}

.button-submit{
    border-radius:10px ;
    width:170px ;
    background-color: rgb(131, 123, 123);
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: rgb(55, 52, 52)
    
    }


}

.footer-container{
    color: silver;
    background: radial-gradient(circle, rgba(238,204,174,1) 0%, rgba(25,25,24,1) 0%, rgba(134,128,131,1) 67%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20PX;
}


.button-clear{
    height: 40px;
    border-radius:10px ;
    width:170px ;
    border-color: rgb(32, 25, 25);


}


.titulo-imagen{
    display: flex;
}

.pie{
   display: flex;
   flex-direction: column;
   align-items: center;

}


   
